[core]
longpaths = true
symlinks = true
ignorecase = false
pager = less -X -F
[filter "lfs"]
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
[push]
autoSetupRemote = true
[alias]
lg = log --graph --abbrev-commit --decorate --pretty=format:'%C(86)%<(10)%h%C(reset) %C(69)%<(20)%ar%C(reset) %C(white)%s%C(reset) %C(202)%d%C(reset)'
branch-clean = !git fetch --prune && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D
[user]
name = "Michael Rios"
email = {{ .email | quote }}
[pull]
ff = only
[column]
branch = auto
[branch]
sort = -committerdate
